<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>ai.thepastaclaw.reviewsys</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/claw/.reviewsys/venv/bin/reviewsys</string>
    <string>daemon</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>HOME</key><string>/Users/claw</string>
    <key>PATH</key><string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Users/claw/.npm-global/bin:/Users/claw/.local/bin</string>
    <key>GODEBUG</key><string>netdns=go</string>
    <key>REVIEWSYS_CONFIG</key><string>/Users/claw/.reviewsys/config.toml</string>
    <key>REVIEWSYS_LOG_FILE</key><string>/Users/claw/.reviewsys/daemon.log</string>
    <key>PYTHONUNBUFFERED</key><string>1</string>
  </dict>
  <key>WorkingDirectory</key><string>/Users/claw/.reviewsys</string>
  <key>StandardOutPath</key><string>/Users/claw/.reviewsys/daemon.stderr.log</string>
  <key>StandardErrorPath</key><string>/Users/claw/.reviewsys/daemon.stderr.log</string>
  <key>RunAtLoad</key><true/>
  <key>KeepAlive</key><true/>
  <key>ThrottleInterval</key><integer>15</integer>
  <key>ExitTimeOut</key><integer>30</integer>
</dict>
</plist>
